<!doctype html>
<html ng-app="myApp">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<style media="screen" type="text/css">
			.ng-invalid.ng-dirty{
			border-color: red;
			}
			.ng-valid.ng-dirty{
			border-color: green;
			}
			
		</style>
	</head>
	<header>
		<h1 class="text-center">Flatlander Crafted Gems</h1>
		<h2 class="text-center">-an Angular store</h2>
	</header>
	<body>
		<div class="list-group" ng-controller="MyController">
			<input type="text" ng-model="yourName" placeholder="Enter a name here">
			<h1>Hello, {{ yourName }}! {{yName}}</h1>
			<ul>
				<div class="list-group-item" ng-repeat="product in products">
					<h2>{{product.name}}
						<em class="pull-right">{{product.price | currency}}</em>
					</h2>
					<section ng-controller="PanelController">
						<ul class="nav nav-pills">
							<li ng-class="{ active:isSet(1) }"> 
								<a href ng-click="setTab(1)">Description</a> 
							</li>
							<li ng-class="{ active:isSet(2)}"> 
								<a href ng-click="setTab(2)">Specification</a> 
							</li>
							<li ng-class="{ active:isSet(3) }"> 
								<a href ng-click="setTab(3)">Reviews</a> 
							</li>
						</ul>
						<div class="panel" ng-show="isSet(1)">
							<h4> Description </h4>
							<blockquote> {{product.description}}</blockquote>
						</div>
						<div ng-show="isSet(2)">
							<h4>Specs</h4>
							<ul class="list-unstyled">
								<li>
									<strong>Shine</strong>
									: {{product.shine}}
								</li>
								<li>
									<strong>Faces</strong>
									: {{product.faces}}
								</li>
								<li>
									<strong>Rarity</strong>
									: {{product.rarity}}
								</li>
								<li>
									<strong>Color</strong>
									: {{product.color}}
								</li>
							</ul>
						</div>
						<div class="panel" ng-show="isSet(3)">
							<h4> Reviews </h4>
							<blockquote ng-repeat="review in product.reviews"> 
								<strong>Stars : {{review.stars}}</strong>
								{{review.body}}
								<cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
							</blockquote>
							<form name="reviewForm"  ng-controller="ReviewController" ng-submit="reviewForm.$valid && addReview(product)" novalidate>
								<blockquote>
									<strong>Stars: {{review.stars}}</strong>
									{{review.body}}
									<cite class="clearfix">-{{review.author}}</cite>
								</blockquote>
								<h4>Submit a Review</h4>
								<fieldset class="form-group">
									<select ng-model="review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
										<option value="">Rate the Product</option>
									</select>
								</fieldset>
								<fieldset class="form-group">
									<textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
								</fieldset>
								<fieldset class="form-group">
									<input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
								</fieldset>
								<fieldset class="form-group">
									<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
								</fieldset>
							</form>
						</div>
					</section>
				</div>
			</ul>
		</div>
	</body>
</html>